.h2Footer, .h3Footer, .h4Footer, .h2Paracaidismo, .h2Links, .h2Contact {
    font-family: "Open Sans", sans-serif;
    font-size:large;
}

.paragraphFooter {
    font-size: large;

}

.linksRapidos {
    a {
        display: flex;
        text-decoration: none;
    }
}

.contactoFooter a {
    text-decoration: none;
}

.copyRight {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
}

.facebook {
    color: brown;
}