/*Mobile Styles*/

/* Mobile*/
@media only screen and (max-width: 400px) {
    .h4Footer {
        display: inline;
    }

    .h2Footer, .h3Footer {
        display: none;
    }

    .tel-contacto, .mapa-contacto, .mail-contacto {
        display: none;
    }

    .telefono, .e-mail, .mapa {
        display: flex;
        padding: 25px;
        
    }

}

/*Tablet*/
@media only screen and (min-width: 401px) and (max-width:960px) {
    .h3Footer {
        display: inline;
    }

    .h2Footer, .h4Footer {
        display: none;
    }

    .tel-contacto, .mapa-contacto, .mail-contacto {
        display: none;
    }

    .telefono, .e-mail, .mapa {
        display: flex;
        padding: 25px;
        
    }

    
}

/* Desktop */
@media only screen and (min-width: 961px) {
    .h3Footer, .h4Footer {
        display: none;
    }

    .telefono, .e-mail, .mapa {
        display: none;
    }
}